# Environment
.env
*/.env

# Node modules
node_modules
*/node_modules

# Coverage
coverage
*/coverage

# Build output
dist
*/dist

# k8s secret
k8s/02-secret.yaml

# helm secret
charts/habit-tracker/values-secret.yaml