# Esegui il seguente comando: cp 02-secret.yaml.exampe 02-secret.yaml
# Poi cambia i parametri sottostanti.
apiVersion: v1
kind: Secret
metadata:
  name: habit-tracker-db-secret
  namespace: habit-tracker
type: Opaque
data:
  MONGO_INITDB_ROOT_USERNAME: <base64 di un tuo username>
  MONGO_INITDB_ROOT_PASSWORD: <base64 di una tua password>