# Esegui il seguente comando: cp terraform.tfvars.example terraform.tfvars
# Poi cambia i parametri sottostanti.

allowed_ssh_cidr    = "PROPRIO.IP.PUBBLICO.QUI/32"
# generata con: ssh-keygen -t ed25519 -f ~/.ssh/<NOME> -C "habit-tracker-ec2"
ssh_public_key_path = "~/.ssh/<NOME>.pub"
backend_image_tag   = "backend-v0.1.x"
frontend_image_tag  = "frontend-v0.1.x"